version: "3.8"

services:
  integration:
    image: demonstration-python
    container_name: soa-integration-team-e
    environment:
      - SURVIVAL_CONTROL_SERVICE_URL_WITH_PORT=survival-control-service:4304
      - MODULE_LIFE_SERVICE_URL_WITH_PORT=module-life-service:4303
      - NEEDS_CONTROL_SERVICE_URL_WITH_PORT=needs-control-service:4302
      - RESUPPLY_CONTROL_SERVICE_URL_WITH_PORT=resupply-service:4301
      - SPACECRAFT_SERVICE_URL_WITH_PORT=spacecraft-service:4305
      - SPACESUIT_SERVICE_URL_WITH_PORT=spacesuit-service:4306
      - EVA_MISSION_SERVICE_URL_WITH_PORT=eva-mission-service:4307
      - GATEWAY_URL_WITH_PORT=gateway:9500
    networks:
      - soa-team-e-network

networks:
  soa-team-e-network:
    driver: bridge
