version: "3.8"
services:
  database-dev:
    image: "mongo:4.4.15"
    restart: always
    ports:
      - 27017:27017
    networks:
      - soa-team-e-network-dev

  module-life-service-dev:
    image: module-life-service-dev
    restart: always
    command: npm run start:dev
    ports:
      - 4303:4303
    environment:
      - APP_PORT=4303
      - APP_NAME=module-life-service-dev
      - MONGODB_HOST=database-dev
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=module-life-dev-db
      - SWAGGERUI_PATH=doc
      - SWAGGERUI_TITLE=Module Life Micro-Service
      - SWAGGERUI_DESCRIPTION=Destiné à notifier des besoins vitaux d’un module, il sera (pour le moment) contacté par Life Support Service et Moon Village
    volumes:
      - ./module-life-service:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - database-dev
    networks:
      - soa-team-e-network-dev

  survival-control-service-dev:
    image:   survival-control-service-dev
    restart: always
    command: npm run start:dev
    ports:
      - 4304:4304
    environment:
      - APP_PORT=4304
      - APP_NAME=survival-control-service-dev
      - MONGODB_HOST=database-dev
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=survival-control-dev-db
      - SWAGGERUI_PATH=doc
      - SWAGGERUI_TITLE=Survival Control Micro-Service
      - SWAGGERUI_DESCRIPTION=Destiné à la surveillance des conditions des systèmes de support des modules habités
      - MODULE_LIFE_SERVICE_URL_WITH_PORT=module-life-service-dev:4303
    volumes:
      - ./survival-control-service:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - database-dev
      - module-life-service-dev
    networks:
      - soa-team-e-network-dev

  needs-control-service-dev:
    image: needs-control-service-dev
    restart: always
    command: npm run start:dev
    ports:
      - 4302:4302
    environment:
      - APP_PORT=4302
      - APP_NAME=needs-control-service-dev
      - MONGODB_HOST=database-dev
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=needs-control-dev-db
      - SWAGGERUI_PATH=doc
      - SWAGGERUI_TITLE=Needs Control Micro-Service
      - SWAGGERUI_DESCRIPTION=Destiné à surveiller les besoins des modules en contactant Module Life Service et à envoyer les demandes de ravitaillement au Resupply Service
      - MODULE_LIFE_SERVICE_URL_WITH_PORT=module-life-service-dev:4303
      - RESUPPLY_CONTROL_SERVICE_URL_WITH_PORT=resupply-service-dev:4301
    volumes:
      - ./needs-control-service:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - database-dev
      - module-life-service-dev
      - resupply-service-dev
    networks:
      - soa-team-e-network-dev

  resupply-service-dev:
    image: resupply-service-dev
    restart: always
    command: npm run start:dev
    ports:
      - 4301:4301
    environment:
      - APP_PORT=4301
      - APP_NAME=resupply-service-dev
      - MONGODB_HOST=database-dev
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=resupply-dev-db
      - SWAGGERUI_PATH=doc
      - SWAGGERUI_TITLE=Resupply Micro-Service
      - SWAGGERUI_DESCRIPTION=Destiné à la gestion du réapprovisionnement de la base lunaire
    volumes:
      - ./resupply-service:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - database-dev
    networks:
      - soa-team-e-network-dev

  spacecraft-service-dev:
    image: spacecraft-service-dev
    restart: always
    command: npm run start:dev
    ports:
      - 4305:4305
    environment:
      - APP_PORT=4305
      - APP_NAME=spacecraft-service-dev
      - MONGODB_HOST=database-dev
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=spacecraft-dev-db
      - SWAGGERUI_PATH=doc/spacecraft
      - SWAGGERUI_TITLE=spacecraft Micro-Service
      - SWAGGERUI_DESCRIPTION=spacecraft-dev
    volumes:
      - ./spacecraft-service:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - soa-team-e-network-dev
    depends_on:
      - database-dev

  eva-mission-service-dev:
    image: eva-mission-service-dev
    restart: always
    command: npm run start:dev
    ports:
      - 4307:4307
    environment:
      - APP_PORT=4307
      - APP_NAME=eva-mission-service-dev
      - MONGODB_HOST=database-dev
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=eva-mission-service-dev-db
      - SWAGGERUI_PATH=doc/eva-mission-service
      - SWAGGERUI_TITLE=eva-mission-service-dev
      - SWAGGERUI_DESCRIPTION=eva-mission-service-dev
    volumes:
      - ./eva-mission-service:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - soa-team-e-network-dev
    depends_on:
      - database-dev

  spacesuit-service-dev:
    image: spacesuit-service-dev
    restart: always
    command: npm run start:dev
    ports:
      - 4306:4306
    environment:
      - APP_PORT=4306
      - APP_NAME=spacesuit-service-dev
      - MONGODB_HOST=database-dev
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=spacesuit-service-dev-db
      - SWAGGERUI_PATH=doc/spacesuit
      - SWAGGERUI_TITLE=spacesuit-dev
      - SWAGGERUI_DESCRIPTION=spacesuit-dev
    volumes:
      - ./spacesuit-service:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - soa-team-e-network-dev
    depends_on:
      - database-dev

  gateway-dev:
    image: gateway-dev
    restart: always
    command: npm run start:dev
    ports:
      - 9500:3000
    environment:
      - APP_PORT=3000
      - SURVIVAL_CONTROL_SERVICE=survival-control-service-dev
      - MODULE_LIFE_SERVICE=module-life-service-dev
      - NEEDS_CONTROL_SERVICE=needs-control-service-dev
      - RESUPPLY_CONTROL_SERVICE=resupply-service-dev
      - SURVIVAL_CONTROL_SERVICE_URL_WITH_PORT=survival-control-service-dev:4304
      - MODULE_LIFE_SERVICE_URL_WITH_PORT=module-life-service-dev:4303
      - NEEDS_CONTROL_SERVICE_URL_WITH_PORT=needs-control-service-dev:4302
      - RESUPPLY_CONTROL_SERVICE_URL_WITH_PORT=resupply-service-dev:4301
      - SPACE_CRAFT_SERVICE_URL_WITH_PORT=space-craft-service-dev:4305
      - SPACESUIT_SERVICE_URL_WITH_PORT=spacesuit-service-dev:4306
      - EVA_MISSION_SERVICE_URL_WITH_PORT=eva-mission-service-dev:4307
    volumes:
      - ./gateway:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - soa-team-e-network-dev
    depends_on:
      - survival-control-service-dev
      - module-life-service-dev
      - needs-control-service-dev
      - resupply-service-dev


networks:
  soa-team-e-network-dev:
    driver: bridge

